<div class="title">
    <h2>{{city.wikipediaTitle}}</h2>
</div>
<div *ngIf="city != null && city.imageUrl != null" class="city-img">
    <img [src]="city.imageUrl" />
</div>
<!-- TODO: Exercise 3 and 4 -->
<div class="live-data">
    <p><a href="#" (click)="openPIVision(city.name, 'Cloud Cover')" ><b>Cloud cover: {{city.cloudCover}}%</b></a></p>
    <p><a href="#" (click)="openPIVision(city.name, 'Humidity')"><b>Humidity: {{(city.humidity +30) | number : '1.2-2'}}%</b></a></p>
    <p><a href="#" (click)="openPIVision(city.name, 'Temperature')"><b>Temperature: {{city.temperature}} °C</b></a></p>
    <p><a href="#" (click)="openPIVision(city.name, 'Pressure')"><b>Pressure: {{city.pressure}} mm</b></a></p>
    <p><a href="#" (click)="openPIVision(city.name, 'Wind Speed')"><b>Wind Speed: {{city.windSpeed}} km/h</b></a></p>
</div>

<div class="live-data">
    <p><a href="#"><b>Min Temperature: {{city.min_temp | number : '1.2-2'}} °C</b></a></p>
    <p><a href="#"><b>Avg Temperature: {{city.avg_temp | number : '1.2-2'}} °C</b></a></p>
    <p><a href="#"><b>Max Temperature: {{city.max_temp | number : '1.2-2'}} °C</b></a></p>
</div>
<!-- TODO: Exercise 3 and 4 -->


<div class="description">
    <p><b>Wikipedia Description</b>: {{city.wikipediaDescription}}</p>
</div>