<div class="title">
    <h2>{{city.wikipediaTitle}}</h2>
</div>
<div *ngIf="city != null && city.imageUrl != null" class="city-img">
    <img [src]="city.imageUrl" />
</div>
<!-- TODO: Exercise 3 and 4 -->
<!-- 
<div class="live-data"> 
     <p><a href="#"><b>Cloud cover: {{city.cloudCover}}%</b></a></p>
     <p><a href="#"><b>Humidity: {{(city.humidity +30) | number : '1.2-2'}}%</b></a></p>
     <p><a href="#"><b>Temperature: {{city.temperature}} °F</b></a></p> 
     <p><a href="#"><b>Pressure: {{city.pressure}} mm</b></a></p> 
     <p><a href="#"><b>Wind Speed: {{city.windSpeed}} km/h</b></a></p> 
 </div> 

 <div class="live-data"> 
     <p><a href="#"><b>Min Temperature: {{city.min_temp | number : '1.2-2'}} °F</b></a></p> 
     <p><a href="#"><b>Avg Temperature: {{city.avg_temp | number : '1.2-2'}} °F</b></a></p> 
     <p><a href="#"><b>Max Temperature: {{city.max_temp | number : '1.2-2'}} °F</b></a></p> 
</div> 
-->
<!-- TODO: Exercise 3 and 4 -->

<div class="description">
    <p><b>Wikipedia Description</b>: {{city.wikipediaDescription}}</p>
</div>